#p1{
text-indent: 15px;
font-family: Arial;
}

.formatacao1{
	text-align: justify;
	font-family: cursive;
	text-decoration-style: solid;
	font-size: 25;
	text-decoration: underline;
	color: #FF00FF;
	font-weight: bolder;
}
.formatacao2{
	text-align: justify;
	font-family: cursive;
	text-decoration-style: solid;
	font-size: 25;
	text-decoration: underline;
	color: #00FFFF;
	font-weight: bolder;
}
.formatacao3{
	font-style: italic;
	font-variant: small-caps;
	font-weight: lighter;
	font-size: x-large;
	font-family: fantasy;
	color: #CD8500
}

#bloco1{

	background-color: #90EE90;
	border-bottom: 4px DOUBLE #000;
	text-align: center;
}
#bloco2{

	background-color: #CCC;
	border-bottom: 8px DOUBLE #000;
	border-top: 8px solid ##FFD39B;
	border-right: 8px dotted #0000FF;
	border left: none;
	text-align: left;
}
#bloco3{

	background-color: #FF7F24;
	border-bottom: 8px dashed #FF7F24;
	border-top: 8px dashed #FF7F24;
	border-right: 8px dashed #FF7F24;
	border left: 10px dashed #FF7F24;
	text-align: center;
}
h1{
	background-color: #EE2C2C;
	border-bottom: 8px dashed ##9C9C9C;
	border-top: 8px dashed ##9C9C9C;
	border-right: 8px dashed ##9C9C9C;
	border left: 10px dashed ##9C9C9C;
	text-align: center;
	text-indent: 35px;
    font-family: cursive;
   


}